name: Build Electron App
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - name: Build exe
        run: npm run build
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: My-Windows-App
          path: dist/*.exe
